p, dd {text-align: justify}

/*Logotype*/
#logotype a{
    font-family: "Roboto",sans-serif;
    font-size: 30px;
    font-weight: 900;
    letter-spacing: -0.05em;
    text-decoration: none;
}
div.auth_site{height: 70px}
#auth_site{
    text-align: right;
    position: absolute;
    bottom: 0;
    right: 0;
    margin-bottom: 5px;
}
#auth_site li{
    list-style: none;
    display: inline;
}
#auth_site a{color: inherit; text-decoration: none}

.main.container {margin-top: 2em; min-height: 700px}

.rise p{text-align: center}
.rise strong{font: 600 3em Verdana}

blockquote > footer{text-align: justify}



.articles-list img{margin: 20px 0 20px 10px}


.sidebar-nav h5{font: bold 1em Helvetica; margin-top: 0; margin-bottom: 1.5em; text-align: center}
.sidebar-nav .media-body a{font: bold .9em Helvetica; margin-top: 5px}
.sidebar-nav .media-body p{font: 400 0.9em Helvetica, Arial, sans-serif;  margin-top: 5px}
.sidebar-nav label{font: 100 0.9em Helvetica, Arial, sans-serif}
/*li.asb a{padding: 0}
li.asb img{float: left; width: 25%}
li.asb div{width: 70%; float: right; font: bold .9em Helvetica; margin: 0.5em 0}
li.asb p{font-weight: 100; color: inherit; margin-top: 0.5em}*/
.asb a{display: block}
.asb p{color: #777; font-size: 0.8em; display: block; margin-top: .6em; margin-bottom: 0}


footer.bottom {background: #214d4f; border-top: solid 3px #90A6A7;}

footer .row{margin: 3em auto 6em auto;}

footer.bottom h4{color: #e3e6d2; margin: 1.5em 0}
footer.bottom p {margin-left: 1.5em}
footer.bottom a {color: #90A6A7;}

a.pay{display: block; float: left; margin: 0.5em;}


#toTop {
    display: none;
    position: fixed;
    right: 20px;
    bottom: 20px;
    z-index: 100;
    transition: background-color 0.2s, color 2s;
}

ul.crumbs{padding-left: 0}
.crumbs li{display: inline; font-size: 0.8em;}
.crumbs a{color: inherit; text-decoration: none; font-weight: bold; padding: .4em .4em; border-radius: 5px}
.crumbs a:hover{background-color: #eee}
.crumbs span{color: #777;}

img.flag{margin: 0 auto}

table td, table th{text-align: center;}

.pagination.table{margin: 0 auto 40px auto}
ul.pagination{margin-top: 0}

.sidebar-nav.cart a{text-decoration: none}

.otzyv_rulez{list-style: none; font-weight: bold; font-size: 0.9em; line-height: 2em}


a.butt{
    text-decoration:none;
    border-radius: 5px;
    text-align:center;
    padding: .9em 1.5em .5em 1.5em;
    font-size: 1em;
    color:#e3e6d2;;
    background:#214d4f;
    opacity:0.9;
    }a.butt:hover{
    text-decoration: none;
     opacity:1;
    }a.butt:active{
    box-shadow:inset 0px 0px 5px #fff;
    }a.butt span{
        font-size: 1.5em
    }a.butt:hover i{
    color: rgba(255,198,7,1);
}
.subscribe{
    padding: 1em;
}
.subscribe h4{text-align: center}
.shop img{
    width: 80%;
    margin: 2em 1em 2em 1em;
}
#form-send-comment input[type="radio"]{margin-top: 0px}
#form-send-comment{
    color: #333;
}
#backButton{
    float: right;
}
table.cabinet.user td{border: none}

#price{font-size: 1.5em; margin: 20px}
.desc_goods img{width: 200px; margin: 40px auto}









.media-body .author {
    display: inline-block;
    /*font-size: 1rem;*/
    color: #000;
    font-weight: 700;
}
.media-body .metadata {
    display: inline-block;
    margin-left: .5rem;
    color: #777;
    font-size: .8em;
}
.footer-comment {
    color: #777;
}
.vote.plus:hover {
    color: green;
}
.vote.minus:hover {
    color: red;
}
.vote {
    cursor: pointer;
}
.comment-reply a {
    color: #777;
}
.comment-reply a:hover, .comment-reply a:focus {
    color: #000;
    text-decoration: none;
}
.devide {
    padding: 0px 4px;
    font-size: 0.9em;
}
.media-text {
    margin-bottom: 0.25rem;
}
.title-comments {
    font-size: 1.4rem;
    font-weight: bold;
    line-height: 1.5rem;
    color: rgba(0,0,0,.87);
    margin-bottom: 1rem;
    padding-bottom: .25rem;
    border-bottom: 1px solid rgba(34,36,38,.15);
}






/* Nav */
#nav li > hr{margin-top: 5px; margin-bottom: 5px}

#nav {
    /*position: absolute;*/
    background: #214d4f;
    display: block;
    /*top: 2.5em;*/
    /*left: 0;*/
    /*width: 100%;*/
    text-align: center;
    border-bottom: solid 3px #90A6A7;
}

#nav > ul {
    display: block;
    /*border-radius: 0.35em;*/
    /*box-shadow: inset 0px 0px 1px 1px rgba(255, 255, 255, 0.25);*/
    padding: 0;
    margin-bottom: 0;
}

#nav > ul > li {
    display: inline-block;
    text-align: center;
    padding: 0 .6em;
}

#nav > ul > li > ul {
    display: none;
}

#nav > ul > li > a, #nav > ul > li > span {
    display: block;
    color: #e3e6d2;
    /*color: rgba(255, 255, 255, 0.75);*/
    text-transform: uppercase;
    text-decoration: none;
    font-size: 0.9em;
    letter-spacing: 0.1em;
    height: 4em;
    line-height: 4em;
    /*-moz-transition: all .25s ease-in-out;*/
    /*-webkit-transition: all .25s ease-in-out;*/
    /*-o-transition: all .25s ease-in-out;*/
    /*-ms-transition: all .25s ease-in-out;*/
    /*transition: all .25s ease-in-out;*/
    outline: 0;
}

#nav > ul > li:hover {
    background-color: tomato;
}

/*#nav > ul > li.active > a, #nav > ul > li.active > span {*/
    /*color: #fff;*/
/*}*/

.dropotron {
    /*background: #222835 url("images/overlay.png");*/
    /*background-color: rgba(44, 50, 63, 0.925);*/
    padding: .5em 1.5em;
    /*border-radius: 0.35em;*/
    /*box-shadow: inset 0px 0px 1px 1px rgba(255, 255, 255, 0.25);*/
    /*min-width: 12em;*/
    text-align: left;
    /*margin-top: -1.25em;*/
    /*margin-left: -1px;*/


    background-color: #fff;
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    border: 1px solid rgba(0, 0, 0, 0.15);
}

.dropotron li{
    list-style: none;
}

.dropotron.level-0 {
    margin-top: -1px;
    /*margin-left: 0;*/
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.dropotron a, .dropotron span {
    /*-moz-transition: all .15s ease-in-out;*/
    /*-webkit-transition: all .15s ease-in-out;*/
    /*-ms-transition: all .15s ease-in-out;*/
    /*transition: all .15s ease-in-out;*/
    display: block;
    /*color: #eee;*/
    color: #777;
    /*color: rgba(255, 255, 255, 0.75);*/
    text-transform: uppercase;
    text-decoration: none;
    font-size: 0.8em;
    letter-spacing: 0.1em;
    /*border-top: solid 1px rgba(255, 255, 255, 0.15);*/
    line-height: 3em;
}

.dropotron li:first-child a, .dropotron li:first-child span {
    border-top: 0;
}

.dropotron li:hover > a, .dropotron li:hover > span {
    color: tomato;
}







#nav.admin{background-color: #eceeec; border-bottom: none}
#nav.admin > ul > li > a{color: #333333; font-weight: 600}
#nav.admin > ul > li:hover{background-color: #ddd}

footer.bottom.admin {background: #ccc; border-top: none;}

table.admin img{width: 70%; margin: 0 auto}
table.admin th{
    background-color: #eceeec;
    height: 60px;
    vertical-align: inherit !important;
}
table.admin td{
    background-color: #f4f6f4;
    height: 110px;
    vertical-align: inherit !important;
    font-size: .95em;
}
table.admin.users td{height: 30px;}
table.admin.users img{width: 30px; margin: 0 auto}

table.predictions th{
    font-size:.9em;
    height: 50px;
    vertical-align: inherit !important;
}
table.predictions td{
    font-size:.9em;
    height: 40px;
    vertical-align: inherit !important;
    cursor: pointer;
}






























    /* Mobile Only -------------------------------------------------------------------------*/

#navPanel, #titleBar {
    display: none;
}

@media screen and (max-width: 768px) {

    /* Basic */
    html, body {
        overflow-x: hidden;
    }

    body, input, select, textarea {
        line-height: 1.5em;
        font-size: 10.5pt;
        letter-spacing: 0;
    }

    h2, h3, h4, h5, h6 {
        font-size: 1.2em;
        letter-spacing: 0.05em;
        margin: 0 0 1em 0;
    }

    hr {
        margin: 1em 0 1em 0;
    }

    /* Section/Article */
    section, article {
        clear: both;
        padding: 1em 0 1em 0 !important;
    }

    header br {
        display: none;
    }

    header.style1 {
        padding: 0 0 1em 0;
    }

    header.style1 h2 {
        font-size: 1.5em;
        letter-spacing: 0.075em;
        line-height: 1.25em;
    }

    header.style1 p {
        display: block;
        margin: 0;
    }

    /* Button */
    input,
    input[type="button"],
    input[type="submit"],
    input[type="reset"],
    button,
    .button {
        display: block;
        width: 100%;
        font-size: 1em;
        padding: 1em 0 1em 0;
        max-width: 30em;
        margin: 0 auto;
    }

    /* List */
    ul.actions {
        margin: 2em 0 0 0;
    }

    ul.actions li {
        margin: 15px 0 0 0;
    }

    form ul.actions {
        margin: 1em 0 0 0;
    }

    /* Feature List */
    .feature-list section {
        border-top: solid 1px #eee;
    }

    .feature-list > div > div:first-child > div:first-child > section {
        border-top: 0;
        padding-top: 0;
    }

    .feature-list h3 {
        position: relative;
        padding: 4px 0 0 48px;
        line-height: 1.25em;
    }

    .feature-list h3:before {
        position: absolute;
        left: 0;
        top: 0;
        width: 32px;
        height: 32px;
        line-height: 32px;
        font-size: 16px;
    }

    .feature-list p {
        margin: 0 0 0 48px;
    }

    /* Box */
    .box.post-excerpt .image.left {
        position: relative;
        top: 0.25em;
        width: 25%;
        margin: 0;
    }

    .box.post-excerpt h3, .box.post-excerpt p {
        margin-left: 32.5%;
    }

    /* Off-Canvas Navigation */
    #page-wrapper {
        -moz-backface-visibility: hidden;
        -webkit-backface-visibility: hidden;
        -ms-backface-visibility: hidden;
        backface-visibility: hidden;
        -moz-transition: -moz-transform 0.5s ease;
        -webkit-transition: -webkit-transform 0.5s ease;
        -ms-transition: -ms-transform 0.5s ease;
        transition: transform 0.5s ease;
        padding-bottom: 1px;
    }

    #titleBar {
        -moz-backface-visibility: hidden;
        -webkit-backface-visibility: hidden;
        -ms-backface-visibility: hidden;
        backface-visibility: hidden;
        -moz-transition: -moz-transform 0.5s ease;
        -webkit-transition: -webkit-transform 0.5s ease;
        -ms-transition: -ms-transform 0.5s ease;
        transition: transform 0.5s ease;
        display: block;
        height: 44px;
        left: 0;
        position: fixed;
        top: 0;
        width: 100%;
        z-index: 10001;
        background: none;
    }

    #titleBar .title {
        display: none;
    }

    #titleBar .toggle {
        position: absolute;
        top: 0;
        left: 0;
        width: 60px;
        height: 44px;
    }

    #titleBar .toggle:before {
        -moz-transition: all .15s ease-in-out;
        -webkit-transition: all .15s ease-in-out;
        -ms-transition: all .15s ease-in-out;
        transition: all .15s ease-in-out;
        font-family: FontAwesome;
        text-decoration: none;
        font-style: normal;
        font-weight: normal;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        content: '\2261';
        font-size: 30px;
        font-weight: bold;
        position: absolute;
        top: 6px;
        left: 6px;
        display: block;
        width: 54px;
        height: 38px;
        line-height: 38px;
        text-align: center;
        color: rgba(255, 255, 255, 0.75);
        background-color: #214d4f /*rgba(92, 95, 103, 0.5)*/;
        border-radius: 0.25em;
    }

    #titleBar .toggle:active:before {
        /*background-color: tomato;*/
    }

    #navPanel {
        -moz-backface-visibility: hidden;
        -webkit-backface-visibility: hidden;
        -ms-backface-visibility: hidden;
        backface-visibility: hidden;
        -moz-transform: translateX(-275px);
        -webkit-transform: translateX(-275px);
        -ms-transform: translateX(-275px);
        transform: translateX(-275px);
        -moz-transition: -moz-transform 0.5s ease;
        -webkit-transition: -webkit-transform 0.5s ease;
        -ms-transition: -ms-transform 0.5s ease;
        transition: transform 0.5s ease;
        display: block;
        height: 100%;
        left: 0;
        overflow-y: auto;
        position: fixed;
        top: 0;
        width: 275px;
        z-index: 10002;
        background: #214d4f /*#242730*//* url("images/overlay.png")*/;
        box-shadow: inset -3px 0px 4px 0px rgba(0, 0, 0, 0.1);
    }



    #navPanel .link {
        display: block;
        color: rgba(255, 255, 255, 0.5);
        text-transform: uppercase;
        text-decoration: none;
        font-size: 0.85em;
        letter-spacing: 0.15em;
        text-decoration: none;
        height: 44px;
        line-height: 44px;
        border-top: solid 1px rgba(255, 255, 255, 0.05);
        margin: 0 15px 0 15px;
    }

    #navPanel .link:first-child {
        border-top: 0;
    }

    #navPanel .indent-1 {
        display: inline-block;
        width: 1em;
    }

    #navPanel .indent-2 {
        display: inline-block;
        width: 2em;
    }

    #navPanel .indent-3 {
        display: inline-block;
        width: 3em;
    }

    #navPanel .indent-4 {
        display: inline-block;
        width: 4em;
    }

    #navPanel .indent-5 {
        display: inline-block;
        width: 5em;
    }

    #navPanel .depth-0 {
        color: #fff;
    }

    #navPanel .depth-1 {
        color: rgba(252,248,227,0.75);
    }

    #navPanel .depth-2 {
        color: red;
    }

    body.navPanel-visible #page-wrapper {
        -moz-transform: translateX(275px);
        -webkit-transform: translateX(275px);
        -ms-transform: translateX(275px);
        transform: translateX(275px);
    }

    body.navPanel-visible #titleBar {
        -moz-transform: translateX(275px);
        -webkit-transform: translateX(275px);
        -ms-transform: translateX(275px);
        transform: translateX(275px);
    }

    body.navPanel-visible #navPanel {
        -moz-transform: translateX(0);
        -webkit-transform: translateX(0);
        -ms-transform: translateX(0);
        transform: translateX(0);
    }

    /* Nav */

    #nav, #main-navbar {
        display: none;
    }

    #logotype{text-align: right;}
    #logotype a{font-size: 23px;}
    div.auth_site{height: 40px}
    #block_predict button{font-size: 0.85em}
    a.goto{width: 100%; margin-left: 5px; margin-bottom: 10px}

    .modal-footer .btn + .btn {
        margin-left: 0;
        margin-top: 5px;
    }
}
